{% extends "layout.html" %}
{% from "timeline/macro.njk" import dwpTimeline %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
Mark appointment as attended - Managing Working Age Claimants
{% endblock %}

{% block beforeContent %}

    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
      }) }}
{% endblock %}

{% block content %}


<!-- Includes -->
{%- set interpreter %}
{{ govukInput({
  id: "contact-by-phone",
  name: "contact-by-phone",
  type: "text",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Enter language required"
  }
}) }}
{% endset -%}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Work search review</span>
        <h3 class="govuk-heading-l"><span class="date"></span> - 1:00pm to 1:50pm</h3>

        <form action="claimant-view-attended" method="post">



        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "claimant-commitment",
          fieldset: {
            legend: {
              text: "Has the claimant commitment been reviewed?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("claimant-commitment", "yes")
            },
            {
              value: "no",
              text: "No",
              checked: checked("claimant-commitment", "no")
            }
          ]
        }) }}



        <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="1000">
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--s" for="appointment-notes">
                Appointment notes
              </label>
            </h1>
            <textarea class="govuk-textarea govuk-js-character-count" id="appointment-notes" name="appointment-notes" rows="5" aria-describedby="appointment-notes-info"></textarea>
          </div>
          <div id="appointment-notes-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 1000 words
          </div>
        </div>


        {{ govukButton({
          text: "Mark appointment as attended",
          preventDoubleClick: true
        }) }}

        </form>

    </div>

    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m" style="border-top: #1d70b8 solid 4px; padding-top: 4px;">Recent appointments</h3>

      <div class="dwp-timeline">
        <!-- <h1 class="govuk-heading-m">Appointments</h1> -->
        <ol class="dwp-timeline__events">
        <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Work search review</h2>
            <p class="govuk-!-font-size-16 govuk-!-margin-bottom-1" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 350px;">Claimant provided job applications via email and interview confirmations for 2 roles.</p>
            <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-top-2 govuk-!-margin-bottom-2"><strong class="govuk-!-font-size-14 govuk-tag govuk-tag--green govuk-!-margin-right-2" style="">Attended</strong><span class="old-date-short"></span></p>
            <a href="past-appointment-timeline" class="govuk-body govuk-link--no-visited-state govuk-!-font-size-16 " target="_blank">view appointment</a>
        </li>
        <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Work search review</h2>
            <p class="govuk-!-font-size-16 govuk-!-margin-bottom-1" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 350px;">No contact from claimant to reach by phone.</p>
            <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-top-2 govuk-!-margin-bottom-2"><strong class="govuk-!-font-size-14 govuk-tag govuk-tag--red govuk-!-margin-right-2" style="">Failed to attend</strong>6 Jun 2023</p>
            <a href="initial-interview" class="govuk-body govuk-link--no-visited-state govuk-!-font-size-16 " target="_blank">view appointment</a>
        </li>
        <!-- <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Work search review</h2>
            <p class="govuk-!-font-size-16 govuk-!-margin-bottom-1" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 350px;">Claimant hasn't received any response to their job applications</p>
            <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-top-2 govuk-!-margin-bottom-2"><strong class="govuk-!-font-size-14 govuk-tag govuk-tag--green govuk-!-margin-right-2" style="">Attended</strong>6 Jun 2023</p>
            <a href="initial-interview" class="govuk-body govuk-link--no-visited-state govuk-!-font-size-16 " target="_blank">view appointment</a>
        </li> -->
        <!-- <li class="dwp-timeline__events--entry">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">New claim appointment</h2>
            <p class="govuk-!-font-size-16 govuk-!-margin-bottom-1" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 350px;">Claimant provided job applications via email and interview confirmations for 2 roles.</p>
            <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-top-2 govuk-!-margin-bottom-2"><strong class="govuk-!-font-size-14 govuk-tag govuk-tag--green govuk-!-margin-right-2" style="">attended</strong>6 Jun 2023</p>
            <a href="initial-interview" class="govuk-body govuk-link--no-visited-state govuk-!-font-size-16 " target="_blank">view appointment</a>
        </li> -->
        </ol>
      </div>

      <a href="history-2" target="_blank" class="govuk-body govuk-link--no-visited-state">View all history and notes</a>

    </div>



</div>

{% endblock %}
