{% from "key-details-bar/macro.njk" import dwpKeyDetailsBar %}

{{ dwpKeyDetailsBar({
    primaryIdentifier: {
    text: 'Name:',
    value: 'Jane Doe'
    },
    secondaryIdentifier: {
    text: 'Nino:',
    value: 'QQ 12 34 56 X'
    },
    status: {
    text: 'Claim status:',
    value: 'Active',
    classes: 'govuk-tag govuk-tag--grey'
    },
    additionalData: [
    
    {
    value: "4 June 1972",
    text: "Date of birth:"
    },
    {
    value: "07777 900 900",
    text: "Mobile number:"
    },
    {
    value: "NE3 2AR",
    text: "Postcode:"
    },
    {
    value: "12 May 2022",
    text: "Claim submitted (IDOC):"
    }
    ]
    }) }}