{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukRadios({
    name: "location",
    classes: "govuk-radios--small govuk-radios--inline flex-container flex-5-accross longhand",
    fieldset: {
      legend: {
        text: "Select a morning appointment",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--s "
      }
    },
    items: [
      {
        value: "",
        text: "9:10"
      },
      {
        value: "",
        text: "9:20"
      },
      {
        value: "",
        text: "9:40"
      },
      {
        value: "",
        text: "9:50"
      },
      {
        value: "",
        text: "10:50"
      },
      {
        value: "",
        text: "11:00"
      },
      {
        value: "",
        text: "11:10"
      },
      {
        value: "",
        text: "11:20"
      },
      {
        value: "",
        text: "11:30"
      },
      {
        value: "",
        text: "11:40"
      },
      {
        value: "",
        text: "11:50"
      }
     
    ]
  }) }}
  {{ govukRadios({
    name: "location",
    classes: "govuk-radios--small govuk-radios--inline flex-container flex-5-accross longhand",
    fieldset: {
      legend: {
        text: "Select an afternoon appointment",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--s "
      }
    },
    items: [
      {
        value: "",
        text: "12:00"
      },
      {
        value: "",
        text: "12:10"
      },
      {
        value: "",
        text: "12:20"
      },
      {
        value: "",
        text: "12:30"
      },
      {
        value: "",
        text: "12:40"
      },
      {
        value: "",
        text: "12:50"
      },
      {
        value: "",
        text: "1:00"
      },
      {
        value: "",
        text: "1:40"
      },
      {
        value: "",
        text: "1:50"
      },
      {
        value: "",
        text: "2:00"
      },
      {
        value: "",
        text: "2:10"
      },
      {
        value: "",
        text: "2:20"
      },
      {
        value: "",
        text: "2:30"
      },
      {
        value: "",
        text: "2:40"
      },
      {
        value: "",
        text: "2:50"
      },
      {
        value: "",
        text: "3:30"
      },
      {
        value: "",
        text: "3:40"
      },
      {
        value: "",
        text: "3:50"
      },
      {
        value: "",
        text: "4:00"
      },
      {
        value: "",
        text: "4:10"
      },
      {
        value: "",
        text: "4:20"
      },
      {
        value: "",
        text: "5:00"
      },
      {
        value: "",
        text: "5:10"
      },
      {
        value: "",
        text: "5:20"
      },
      {
        value: "",
        text: "5:50"
      }
    ]
  }) }}