{% extends "layout-esa-appointee4.html" %}
{% from "timeline/macro.njk" import dwpTimeline %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
First - Claimant details
{% endblock %}

{% block beforeContent %}
     

    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
      }) }}
{% endblock %}

{% block content %}


<!-- Includes -->
{%- set interpreter %}
{{ govukInput({
  id: "contact-by-phone",
  name: "contact-by-phone",
  type: "text",
  classes: "govuk-!-width-one-third",
  label: {
    text: "What language does the claimant speak?"
  }
}) }}
{% endset -%}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Check your answers
        </h1>
        {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9 govuk-summary-list--no-border',
        rows: [
          {
            key: {
              text: "Appointment channel"
            },
            value: {
              text: "Jobcentre"
            },
            actions: {
              items: [
                {
                  href: "./type",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Appointment location"
            },
            value: {
              text: "Kendal Jobcentre (claimant's job centre)"
            }
          },
          {
            key: {
              text: "Appointment length"
            },
            value: {
              html: "30 minutes"
            },
            classes: " my-border"
          },
          {
            key: {
              text: "Appointment conductor"
            },
            value: {
              html: "Jon Clement (claimants work coach)"
            },
            classes: " my-border",
            actions: {
              items: [
                {
                  href: "./who",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Appointment time"
            },
            value: {
              html: "10:30am"
            },
            classes: "my-border",
            actions: {
              items: [
                {
                  href: "./when",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Do they need an interpreter?"
            },
            value: {
              html: "No"
            },
            actions: {
              items: [
                {
                  href: "./further",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Any other information?"
            },
            value: {
              html: "I need them to bring a certain document as per our conversation"
            },
            classes: "my-border"
          }

        ]
      }) }}



            {{ govukButton({
            text: "Submit",
            preventDoubleClick: true,
            href: "claimant-view-booked.html"
            }) }}

    </div>

</div>

{% endblock %}
