{% extends "layout-esa-appointee.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
First - Search for a claimant
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Appointment not attended
      </h1>
      <div class="govuk-panel__body">
        Appointment marked as <br><strong>'Failed to attend'</strong>
      </div>
    </div>
    <p>We'll send a notification to <strong>07777 900 900</strong>.</p>

    <h3 class="govuk-heading-m">What happens next?</h3>
    <p>Do we need info about 30 days?</p>

    <p>

  </div>
</div>

{% endblock %}
