<!-- Javascript -->
{# <script src="/public/javascripts/jquery-1.11.3.js"></script> #}

{% for scriptConfig in pluginConfig.scripts %}
  {% if scriptConfig.type|length %}
    <script type="{{scriptConfig.type}}" src="{{scriptConfig.src}}"></script>
  {% else %}
    <script src="{{scriptConfig.src}}"></script>
  {% endif %}
{% endfor %}

<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/accessible-autocomplete.min.js"></script>

{% if useAutoStoreData %}
  <script src="/public/javascripts/auto-store-data.js"></script>
{% endif %}
