{% extends "layout-nsjsa-claim.html" %}

{% block pageTitle %}
View claim details - Apply for New Style Jobseeker’s Allowance
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row dwp-print-hide">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-visually-hidden">Claim processing</h1>


      <h2 class="govuk-heading-l govuk-visually-hidden">Claimant application</h2>

        <section class="dwp-claim-section dwp-print-no-break">

          <!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <p class="govuk-notification-banner__heading">
                Book appointment using Managing Working Age Claimants.
              </p>
            </div>
          </div> -->

  <h2 class="govuk-heading-m">Personal details</h2>









<dl class="govuk-summary-list">


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Contact Number
    </dt>
    <dd class="govuk-summary-list__value">
      07777 900 900
    </dd>

  </div>



  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Home address
    </dt>
    <dd class="govuk-summary-list__value">
      <span class="dwp-print-block">26 Greengate Ln</span><br>
                    <span class="dwp-print-block">Kendal</span><br>
                    <span class="dwp-print-block">Cumbria</span><br>
                    <span class="dwp-print-block">LA9 5LL</span>
    </dd>

  </div>



  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Postal address
    </dt>
    <dd class="govuk-summary-list__value">
      Not provided
    </dd>

  </div>



  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Not available on these days
    </dt>
    <dd class="govuk-summary-list__value">
      Not Applicable
    </dd>

  </div>


</dl>

</section>

    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">

    <h3 class="govuk-heading-m">Claim actions</h3>



    <a href="book-mwac" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Book appointment
    </a>

<a href="update" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Update claim status
</a>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h3 class="govuk-heading-m">Claim status history</h3>


    <div class="dwp-timeline">


		<ol class="dwp-timeline__events">

				<li class="dwp-timeline__events--entry">
					<h2 class="govuk-heading-s govuk-!-margin-bottom-1">Awaiting appointment</h2>
					<p class="govuk-caption-m govuk-!-margin-bottom-1">by 00000004</p>
					<p class="govuk-caption-m">on 10 September 2021 at 1:20pm</p>
				</li>

				<li class="dwp-timeline__events--entry">
					<h2 class="govuk-heading-s govuk-!-margin-bottom-1">Success</h2>
					<p class="govuk-caption-m govuk-!-margin-bottom-1">by 00000001</p>
					<p class="govuk-caption-m">on 31 August 2021 at 4:50pm</p>
				</li>

				<li class="dwp-timeline__events--entry">
					<h2 class="govuk-heading-s govuk-!-margin-bottom-1">New claim</h2>

					<p class="govuk-caption-m">by claimant on 31 August 2021 at 4:30pm</p>
				</li>

		</ol>

</div>


      </aside>
    </div>
  </div>

{% endblock %}
