{% extends "layout-nsjsa-claim.html" %}

{% block pageTitle %}
Book appointment using Managing Working Age Claimants service - Apply for New Style Jobseeker’s Allowance
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row dwp-print-hide">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-visually-hidden">Claim processing</h1>


      <h2 class="govuk-heading-l govuk-visually-hidden">Claimant application</h2>

        <section class="dwp-claim-section dwp-print-no-break">

          <!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <p class="govuk-notification-banner__heading">
                Book appointment using Managing Working Age Claimants.
              </p>
            </div>
          </div> -->

  <h2 class="govuk-heading-l">Book appointment using Managing Working Age Claimants service</h2>


  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet accumsan elit, ac sollicitudin tortor commodo sit amet. Nunc in nunc nec lectus varius tincidunt id ultricies felis. Curabitur fermentum massa eget lorem congue venenatis. Maecenas semper eros vel magna ultrices iaculis.</p>

  <a href="../workcoach/searchlight-new-claim-results" role="button" draggable="false" class="govuk-button" data-module="govuk-button" target="_blank">
    Book new claim appointment
  </a>







    </div>
  </div>

{% endblock %}
