{% extends "layout-esa-appointee-final.html" %}
{% from "timeline/macro.njk" import dwpTimeline %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
Cancel appointment - Managing Working Age Claimants
{% endblock %}

{% block beforeContent %}


    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
      }) }}
{% endblock %}

{% block content %}


<!-- Includes -->
{%- set interpreter %}
{{ govukInput({
  id: "contact-by-phone",
  name: "contact-by-phone",
  type: "text",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Enter language required"
  }
}) }}
{% endset -%}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">New claim appointment</span>
        <h3 class="govuk-heading-l"><span class="date"></span> - 1:00pm to 2:00pm</h3>

        <form action="claimant-view-cancelled" method="post">

        <!-- {{ govukCheckboxes({
          name: "cancel",
          fieldset: {
            legend: {
              text: "Are you sure you want to cancel this appointment?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, cancel this appointment"
            }
          ]
        }) }} -->

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Why are you cancelling the appointment?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="cancel-reason" name="cancel-reason" type="radio" value="email" data-aria-controls="conditional-cancel-reason">
                <label class="govuk-label govuk-radios__label" for="cancel-reason">
                  Claimant has found a job
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-cancel-reason">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="cancel-reason-by-email">
                    Start date of new job
                  </label>
                  <div id="passport-issued-hint" class="govuk-hint">
                    For example, 27 3 2023
                  </div>
                  <div class="govuk-date-input" id="passport-issued">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                      </div>
                    </div>
                  </div>
                  <label class="govuk-label govuk-!-margin-top-4" for="cancel-reason-by-email">
                    Name of new employer
                  </label>
                  <input class="govuk-input govuk-!-width-one-half" id="cancel-reason-by-email" name="cancel-reason-by-email" type="email" spellcheck="false" autocomplete="email">
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="cancel-reason-6" name="cancel-reason" type="radio" value="text" data-aria-controls="conditional-cancel-reason-6">
                <label class="govuk-label govuk-radios__label" for="cancel-reason-6">
                  Claimant is moving support groups
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="cancel-reason-7" name="cancel-reason" type="radio" value="text" data-aria-controls="conditional-cancel-reason-7">
                <label class="govuk-label govuk-radios__label" for="cancel-reason-7">
                  Claimant is moving to a different benefit
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="cancel-reason-2" name="cancel-reason" type="radio" value="phone" data-aria-controls="conditional-cancel-reason-2">
                <label class="govuk-label govuk-radios__label" for="cancel-reason-2">
                  Claimant has decided to end their claim
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="cancel-reason-3" name="cancel-reason" type="radio" value="text" data-aria-controls="conditional-cancel-reason-3">
                <label class="govuk-label govuk-radios__label" for="cancel-reason-3">
                  Claimant is going abroad for longer than 4 weeks
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="cancel-reason-4" name="cancel-reason" type="radio" value="text" data-aria-controls="conditional-cancel-reason-4">
                <label class="govuk-label govuk-radios__label" for="cancel-reason-4">
                  Jobcentre closure
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="cancel-reason-6" name="cancel-reason" type="radio" value="text" data-aria-controls="conditional-cancel-reason-6">
                <label class="govuk-label govuk-radios__label" for="cancel-reason-6">
                  Agent booked in error
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="cancel-reason-5" name="cancel-reason" type="radio" value="text" data-aria-controls="conditional-cancel-reason-5">
                <label class="govuk-label govuk-radios__label" for="cancel-reason-5">
                  Other
                </label>
              </div>

            </div>
          </fieldset>
        </div>

        <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="1000">
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--s" for="cancellation-notes">
                Cancellation notes
              </label>
            </h1>
            <textarea class="govuk-textarea govuk-js-character-count" id="cancellation-notes" name="cancellation-notes" rows="5" aria-describedby="cancellation-notes-info"></textarea>
          </div>
          <div id="cancellation-notes-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 1000 words
          </div>
        </div>


        {{ govukButton({
        text: "Cancel appointment",
        classes: "govuk-button--warning",
        preventDoubleClick: true
        }) }}

        </form>

    </div>

</div>

{% endblock %}
