{% extends "layout-esa-appointee-final.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
First - Search for a claimant
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Appointment cancelled
      </h1>
      <div class="govuk-panel__body">

      </div>
    </div>
    <h3 class="govuk-heading-m">What to do next</h3>
    <p>If there is a mobile number available, send a text message notification confirming the cancellation.</p>


  </div>
</div>

{% endblock %}
