{% extends "layout-esa-appointee-final.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
History and notes - Managing Working Age Claimants
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {{ govukButton({
      text: "Add a note",
      href: 'add-note-new'
    }) }}

    <h2 class="govuk-heading-m">Filters</h2>



    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Sort by
          </h1>
        </legend>
        <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name" name="sort" type="radio" value="month" checked>
            <label class="govuk-label govuk-radios__label" for="sort">
              Newest
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sort-2" name="sort" type="radio" value="year">
            <label class="govuk-label govuk-radios__label" for="sort-2">
              Oldest
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <!-- <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Benefit type
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="NSESA">
            <label class="govuk-label govuk-checkboxes__label" for="type">
              NSESA
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="NSJSA">
            <label class="govuk-label govuk-checkboxes__label" for="type-2">
              NSJSA
            </label>
          </div>
        </div>
      </fieldset>
    </div> -->

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Note type
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="attended">
            <label class="govuk-label govuk-checkboxes__label" for="type">
              Appointments
            </label>
          </div>
          <!-- <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="fta">
            <label class="govuk-label govuk-checkboxes__label" for="type-2">
              Claimant
            </label>
          </div> -->
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="decisions">
            <label class="govuk-label govuk-checkboxes__label" for="type-2">
              Colleague
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Appointment status
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="attended">
            <label class="govuk-label govuk-checkboxes__label" for="status">
              Attended
            </label>
          </div>
          <!-- <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="fta">
            <label class="govuk-label govuk-checkboxes__label" for="status-2">
              Failed to attend
            </label>
          </div> -->
          <!-- <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="rebooked">
            <label class="govuk-label govuk-checkboxes__label" for="status-3">
              Rebooked
            </label>
          </div> -->
          <!-- <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="status-4" name="status" type="checkbox" value="cancelled">
            <label class="govuk-label govuk-checkboxes__label" for="status-4">
              Cancelled
            </label>
          </div> -->
          <!-- <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="appointment-5" name="appointment" type="checkbox" value="general">
            <label class="govuk-label govuk-checkboxes__label" for="appointment-5">
              General notes
            </label>
          </div> -->
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Appointment type
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="apptype" name="apptype" type="checkbox" value="attended">
            <label class="govuk-label govuk-checkboxes__label" for="apptype">
              New claim appointment
            </label>
          </div>
          <!-- <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="apptype-2" name="apptype" type="checkbox" value="fta">
            <label class="govuk-label govuk-checkboxes__label" for="apptype-2">
              Health and work conversation
            </label>
          </div> -->
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="apptype-3" name="apptype" type="checkbox" value="rebooked">
            <label class="govuk-label govuk-checkboxes__label" for="apptype-3">
              Flexible appointment - Voluntary
            </label>
          </div>
          <!-- <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="apptype-4" name="apptype" type="checkbox" value="cancelled">
            <label class="govuk-label govuk-checkboxes__label" for="apptype-4">
              Flexible appointment - Mandatory
            </label>
          </div> -->
          <!-- <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="apptype-5" name="apptype" type="checkbox" value="cancelled">
            <label class="govuk-label govuk-checkboxes__label" for="apptype-5">
              Work coach support health - Voluntary
            </label>
          </div> -->
          <!-- <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="apptype-6" name="apptype" type="checkbox" value="cancelled">
            <label class="govuk-label govuk-checkboxes__label" for="apptype-6">
              Work coach support health - Mandatory
            </label>
          </div> -->
          <!-- <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="apptype-7" name="apptype" type="checkbox" value="cancelled">
            <label class="govuk-label govuk-checkboxes__label" for="apptype-7">
              Work and Health programme - Signposted
            </label>
          </div> -->
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="apptype-8" name="apptype" type="checkbox" value="cancelled">
            <label class="govuk-label govuk-checkboxes__label" for="apptype-8">
              Work and Health programme - Voluntary
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="apptype-9" name="apptype" type="checkbox" value="Work search review">
            <label class="govuk-label govuk-checkboxes__label" for="apptype-9">
              Work search review
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Agent
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="workcoach" name="workcoach" type="checkbox" value="Bill Ward">
            <label class="govuk-label govuk-checkboxes__label" for="workcoach">
              Bill Ward
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="workcoach-2" name="workcoach" type="checkbox" value="Jon Clement">
            <label class="govuk-label govuk-checkboxes__label" for="workcoach-2">
              Jon Clement
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <!-- <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Appointment channel
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="channel" name="channel" type="checkbox" value="attended">
            <label class="govuk-label govuk-checkboxes__label" for="channel">
              Jobcentre
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="channel-2" name="channel" type="checkbox" value="fta">
            <label class="govuk-label govuk-checkboxes__label" for="channel-2">
              Phone
            </label>
          </div>
        </div>
      </fieldset>
    </div> -->

  </div>

  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-m">History and notes</h1>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#nsesa">
            NSESA
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#nsjsa">
            NSJSA
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="nsesa">
        <table class="govuk-table govuk-!-font-size-19">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="white-space: nowrap;">Date & time</th>
              <th scope="col" class="govuk-table__header">Type</th>
              <th scope="col" class="govuk-table__header">Preview</th>
              <th scope="col" class="govuk-table__header">Agent</th>
              <th scope="col" class="govuk-table__header"> </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__header"><span style="white-space: nowrap;">19 Feb 2024</span><br> 3:30pm</td>
              <td class="govuk-table__cell"><a href="" class="govuk-link--no-visited-state">Work and Health programme - Voluntary</a></td>
              <td class="govuk-table__cell"><p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Referred the claimant to the WHP. ID: 246678533.</p></td>
              <td class="govuk-table__cell">Bill Ward</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green govuk-!-margin-top-2">Attended</strong></td>
            </tr>
            <!--  -->
            <tr class="govuk-table__row">
              <td class="govuk-table__header" ><span style="white-space: nowrap;">5 Feb 2024</span><br> 2:30pm</td>
              <td class="govuk-table__cell" ><a href="" class="govuk-link--no-visited-state">Flexible appointment - Voluntary</a></td>
              <td class="govuk-table__cell"><p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Talked to the claimant about the WHP. They want to take some time to think about it, will review in next appointment.</p></td>
              <td class="govuk-table__cell" >Bill Ward</td>
              <td class="govuk-table__cell" ><strong class="govuk-tag govuk-tag--green govuk-!-margin-top-2">Attended</strong></td>
            </tr>
            <!--  -->
            <tr class="govuk-table__row">
              <td class="govuk-table__header" ><span style="white-space: nowrap;">22 Jan 2024</span><br> 2:00pm</td>
              <td class="govuk-table__cell" ><a href="" class="govuk-link--no-visited-state">Flexible appointment - Voluntary</a></td>
              <td class="govuk-table__cell"><p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Claimant has created an up to date CV. Have given them some advice on how it could be improved.</p></td>
              <td class="govuk-table__cell" >Bill Ward</td>
              <td class="govuk-table__cell" ><strong class="govuk-tag govuk-tag--green govuk-!-margin-top-2">Attended</strong></td>
            </tr>
            <!--  -->
            <tr class="govuk-table__row">
              <td class="govuk-table__header"><span style="white-space: nowrap;">8 Jan 2024</span><br> 1:00pm</td>
              <td class="govuk-table__cell"><a href="" class="govuk-link--no-visited-state">ESA50 forms</a></td>
              <td class="govuk-table__cell"><p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Claimant rang to ask some questions about the ESA50 form they've been asked to complete</p></td>
              <td class="govuk-table__cell">Bill Ward</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey govuk-!-margin-top-2">Colleague note</strong></td>
            </tr>
            <!--  -->
            <tr class="govuk-table__row">
              <td class="govuk-table__header"><span style="white-space: nowrap;">11 Dec 2023</span><br> 11:00am</td>
              <td class="govuk-table__cell"><a href="new-claim-appointment-nsesa" class="govuk-link--no-visited-state">New claim appointment</a></td>
              <td class="govuk-table__cell"><p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">ID checks complete and claimant commitment agreed. Sent to service center.</p></td>
              <td class="govuk-table__cell">Bill Ward</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green govuk-!-margin-top-2">Attended</strong></td>
            </tr>
            <!--  -->

          </tbody>
        </table>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="nsjsa">
        <table class="govuk-table govuk-!-font-size-19">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="white-space: nowrap;">Date & time</th>
              <th scope="col" class="govuk-table__header">Type</th>
              <th scope="col" class="govuk-table__header">Preview</th>
              <th scope="col" class="govuk-table__header">Agent</th>
              <th scope="col" class="govuk-table__header"> </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">

            <!--  -->
            <tr class="govuk-table__row">
              <td class="govuk-table__header"><span style="white-space: nowrap;">7 Dec 2023</span><br> 1:10pm</td>
              <td class="govuk-table__cell"><a href="" class="govuk-link--no-visited-state">Long term illness</a></td>
              <td class="govuk-table__cell"><p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Claimant has been diagnosed with a long term illness. have advised them to apply for NSESA</p></td>
              <td class="govuk-table__cell">Jon Clement</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey govuk-!-margin-top-2">Colleague note</strong></td>
            </tr>
            <!--  -->
            <tr class="govuk-table__row">
              <td class="govuk-table__header"><span style="white-space: nowrap;">4 Dec 2023</span><br> 10:00am</td>
              <td class="govuk-table__cell"><a href="" class="govuk-link--no-visited-state">Work search review</a></td>
              <td class="govuk-table__cell"><p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Positive responses back from a couple of interviews. Waiting on a formal offer.</p></td>
              <td class="govuk-table__cell">Jon Clement</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green govuk-!-margin-top-2">Attended</strong></td>
            </tr>
            <!--  -->
            <tr class="govuk-table__row">
              <td class="govuk-table__header"><span style="white-space: nowrap;">5 Oct 2023</span><br> 2:45pm</td>
              <td class="govuk-table__cell"><a href="" class="govuk-link--no-visited-state">Work search review</a></td>
              <td class="govuk-table__cell"><p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Proof of job searches shown via email. Waiting to hear back from a few applications</p></td>
              <td class="govuk-table__cell">Jon Clement</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green govuk-!-margin-top-2">Attended</strong></td>
            </tr>
            <!--  -->
            <tr class="govuk-table__row">
              <td class="govuk-table__header"><span style="white-space: nowrap;">2 Oct 2023</span><br> 1:00pm</td>
              <td class="govuk-table__cell"><a href="new-claim-appointment-nsjsa" class="govuk-link--no-visited-state">New claim appointment</a></td>
              <td class="govuk-table__cell"><p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">The claimant has worked in retail before. They are not currently working because of their anxiety. Discussed how this affected their work. Claimant commitment agreed.</p></td>
              <td class="govuk-table__cell">Jon Clement</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green govuk-!-margin-top-2">Attended</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>



    <!-- <nav class="govuk-pagination" role="navigation" aria-label="results">
      <!-- <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">Previous</span></a>
      </div> -->
      <!-- <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1"  aria-current="page">
            1
          </a>
        </li>
        <li class="govuk-pagination__item ">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
            2
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
            3
          </a>
        </li>
      </ul>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg></a>
      </div>
    </nav> -->

  </div>
</div>

{% endblock %}
