{% extends "layout-nsjsa-claim.html" %}

{% block pageTitle %}
Use Managing Working Age Claimants to book this appointment - Apply for New Style Jobseeker’s Allowance
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row dwp-print-hide">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-visually-hidden">Claim processing</h1>


      <h2 class="govuk-heading-l govuk-visually-hidden">Claimant application</h2>

        <section class="dwp-claim-section dwp-print-no-break">

          <!-- <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                Important
              </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <p class="govuk-notification-banner__heading">
                Book appointment using Managing Working Age Claimants.
              </p>
            </div>
          </div> -->

  <h2 class="govuk-heading-l">Use Managing Working Age Claimants to book this appointment </h2>


  <p>Managing Working Age Claimants (MWAC) is a new service for booking and managing NSJSA appointments.</p>

  <p>Before it is rolled out across the country, MWAC is being piloted at a small number of jobcentres. As this claimant’s jobcentre is included in this pilot, you should book their new claim appointment using MWAC.</p>

  <h4 class="govuk-heading-s">
    After booking the appointment
  </h4>

  <p>You must update the claim status as normal using the Apply service.</p>

  <a href="../workcoach/existing-claim-v3/location" role="button" draggable="false" class="govuk-button" data-module="govuk-button" target="_blank">
    Book appointment
  </a>
  <br>
  <a href="update" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Update claim status
  </a>







    </div>
  </div>

{% endblock %}
