{% extends "layout-esa.html" %}
{% from "timeline/macro.njk" import dwpTimeline %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
First - Claimant details
{% endblock %}

{% block beforeContent %}
     

    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
      }) }}
{% endblock %}

{% block content %}

<!-- Includes -->
{%- set office %}
{{ govukInput({
  id: "contact-by-phone",
  name: "contact-by-phone",
  type: "text",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Enter their name"
  }
}) }}
{% endset -%}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l">
            Appointment conductor
        </h1>


          {{ govukRadios({
            name: "location",
            fieldset: {
              legend: {
                text: "Select a work coach to conduct the appointment",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "",
                text: "Jon Clement (claimant's work coach)"
              },
              {
                value: "",
                text: "Next avaliable work coach"
              },
              {
                value: "",
                text: "Choose a different work coach",
                conditional: {
                    html: office,
                    classes: "govuk-!-width-20"
                  }
              }
            ]
          }) }}



            {{ govukButton({
            text: "Continue",
            preventDoubleClick: true,
            href: "when"
            }) }}

    </div>

</div>

{% endblock %}
