{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukRadios({
    name: "location",
    classes: "govuk-radios--small",
    fieldset: {
      legend: {
        text: "Select a time",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "",
        text: "9:00am"
      },
      {
        value: "",
        text: "9:10am"
      },
      {
        value: "",
        text: "9:20am"
      },
      {
        value: "",
        text: "9:30am"
      },
      {
        value: "",
        text: "9:40am"
      },
      {
        value: "",
        text: "9:50am"
      },
      {
        value: "",
        text: "10:00am"
      },
      {
        value: "",
        text: "10:10am"
      },
      {
        value: "",
        text: "10:10am"
      },
      {
        value: "",
        text: "10:20am"
      },
      {
        value: "",
        text: "10:30am"
      },
      {
        value: "",
        text: "10:40am"
      },
      {
        value: "",
        text: "10:50am"
      },
      {
        value: "",
        text: "11:00am"
      },
      {
        value: "",
        text: "11:10am"
      },
      {
        value: "",
        text: "11:20am"
      },
      {
        value: "",
        text: "11:30am"
      },
      {
        value: "",
        text: "11:40am"
      },
      {
        value: "",
        text: "11:50am"
      },
      {
        value: "",
        text: "12:00am"
      },
      {
        value: "",
        text: "12:10am"
      },
      {
        value: "",
        text: "12:20am"
      },
      {
        value: "",
        text: "12:30am"
      },
      {
        value: "",
        text: "12:40am"
      },
      {
        value: "",
        text: "12:50am"
      },
      {
        value: "",
        text: "1:00pm"
      },
      {
        value: "",
        text: "1:10pm"
      },
      {
        value: "",
        text: "1:20pm"
      },
      {
        value: "",
        text: "1:30pm"
      },
      {
        value: "",
        text: "1:40pm"
      },
      {
        value: "",
        text: "1:50pm"
      },
      {
        value: "",
        text: "2:00pm"
      },
      {
        value: "",
        text: "2:10pm"
      },
      {
        value: "",
        text: "2:20pm"
      },
      {
        value: "",
        text: "2:30pm"
      },
      {
        value: "",
        text: "2:40pm"
      },
      {
        value: "",
        text: "2:50pm"
      },
      {
        value: "",
        text: "3:00pm"
      },
      {
        value: "",
        text: "3:10pm"
      },
      {
        value: "",
        text: "3:20pm"
      },
      {
        value: "",
        text: "3:30pm"
      },
      {
        value: "",
        text: "3:40pm"
      },
      {
        value: "",
        text: "3:50pm"
      },
      {
        value: "",
        text: "4:00pm"
      },
      {
        value: "",
        text: "4:10pm"
      },
      {
        value: "",
        text: "4:20pm"
      },
      {
        value: "",
        text: "4:30pm"
      },
      {
        value: "",
        text: "4:40pm"
      },
      {
        value: "",
        text: "4:50pm"
      },
      {
        value: "",
        text: "5:00pm"
      },
      {
        value: "",
        text: "5:10pm"
      },
      {
        value: "",
        text: "5:20pm"
      },
      {
        value: "",
        text: "5:30pm"
      },
      {
        value: "",
        text: "5:40pm"
      },
      {
        value: "",
        text: "5:50pm"
      }
    ]
  }) }}