{% extends "layout-nsjsa-final.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
History and notes - Managing Working Age Claimants
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          Claimant note was successfully added
        </h3>
        <!-- <p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there’s a problem.</p> -->
      </div>
    </div>

    <table class="govuk-table govuk-!-font-size-19">
      <caption class="govuk-table__caption govuk-table__caption--m">History and notes</caption>



      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date & time</th>
          <th scope="col" class="govuk-table__header">Details</th>
          <th scope="col" class="govuk-table__header">Agent</th>
          <th scope="col" class="govuk-table__header"> </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><span class="old-date"></span><br> 2:00pm</td>
          <td class="govuk-table__cell"><a href="note-example" class="govuk-link--no-visited-state">Illness</a></td>
          <td class="govuk-table__cell">Jon Clement</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">claimant note</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">4 April 2023<br> 3:00pm</td>
          <td class="govuk-table__cell"><a href="" class="govuk-link--no-visited-state">Work Search Review</a></td>
          <td class="govuk-table__cell">Jon Clement</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">attended</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">16 March 2023<br> 1:00pm</td>
          <td class="govuk-table__cell"><a href="" class="govuk-link--no-visited-state">Work Search Review</a></td>
          <td class="govuk-table__cell">Jon Clement</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">attended</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">2 March 2023<br> 1:45pm</td>
          <td class="govuk-table__cell"><a href="" class="govuk-link--no-visited-state">Work Search Review</a></td>
          <td class="govuk-table__cell">Jon Clement</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">attended</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">16 February 2023<br> 4:10pm</td>
          <td class="govuk-table__cell"><a href="" class="govuk-link--no-visited-state">Work Search Review</a></td>
          <td class="govuk-table__cell">Jon Clement</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">attended</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">2 February 2023<br> 4:00pm</td>
          <td class="govuk-table__cell"><a href="" class="govuk-link--no-visited-state">Work Search Review</a></td>
          <td class="govuk-table__cell">Jon Clement</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">attended</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">19 January 2023<br> 5:00pm</td>
          <td class="govuk-table__cell"><a href="" class="govuk-link--no-visited-state">Work Search Review</a></td>
          <td class="govuk-table__cell">Jon Clement</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">rebooked</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">5 January 2023<br> 1:00pm</td>
          <td class="govuk-table__cell"><a href="view-note" class="govuk-link--no-visited-state">Illness</a></td>
          <td class="govuk-table__cell">Sara Blythe</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">claimant note</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">22 December 2022<br> 10:00am</td>
          <td class="govuk-table__cell"><a href="" class="govuk-link--no-visited-state">Work search review</a></td>
          <td class="govuk-table__cell">Gordon Smith</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">attended</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">8 December 2022<br> 2:00pm</td>
          <td class="govuk-table__cell"><a href="" class="govuk-link--no-visited-state">Work search review</a></td>
          <td class="govuk-table__cell">Gordon Smith</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">attended</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">24 November 2022<br> 4:15pm</td>
          <td class="govuk-table__cell"><a href="" class="govuk-link--no-visited-state">Work search review</a></td>
          <td class="govuk-table__cell">Gordon Smith</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">attended</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">10 November 2022<br> 12:00pm</td>
          <td class="govuk-table__cell"><a href="" class="govuk-link--no-visited-state">Work search review</a></td>
          <td class="govuk-table__cell">Gordon Smith</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">attended</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">29 October 2022<br> 1:00pm</td>
          <td class="govuk-table__cell"><a href="" class="govuk-link--no-visited-state">Work search review</a></td>
          <td class="govuk-table__cell">Gordon Smith</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--orange">rebooked</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">27 October 2022<br> 2:00pm</td>
          <td class="govuk-table__cell"><a href="fta-appointment" class="govuk-link--no-visited-state">Work search review</a></td>
          <td class="govuk-table__cell">Gordon Smith</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">failed to attend</strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">13 October 2022<br> 2:00pm</td>
          <td class="govuk-table__cell"><a href="" class="govuk-link--no-visited-state">Work search review</a></td>
          <td class="govuk-table__cell">Gordon Smith</td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">attended</strong></td>
        </tr>
      </tbody>
    </table>

    <nav class="govuk-pagination" role="navigation" aria-label="results">
      <!-- <div class="govuk-pagination__prev">
        <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
          <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
          </svg>
          <span class="govuk-pagination__link-title">Previous</span></a>
      </div> -->
      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1"  aria-current="page">
            1
          </a>
        </li>
        <li class="govuk-pagination__item ">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
            2
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
            3
          </a>
        </li>
      </ul>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg></a>
      </div>
    </nav>

  </div>

  <!-- Side column start -->

  <div class="govuk-grid-column-one-quarter">
    {{ govukButton({
      text: "Add a claimant note",
      href: 'add-noteb'
    }) }}

    <h2 class="govuk-heading-m">Filters</h2>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Sort by
          </h1>
        </legend>
        <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name" name="sort" type="radio" value="month" checked>
            <label class="govuk-label govuk-radios__label" for="sort">
              Newest
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="sort-2" name="sort" type="radio" value="year">
            <label class="govuk-label govuk-radios__label" for="sort-2">
              Oldest
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <details class="govuk-details details-accordion" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Note type
        </span>
      </summary>
      <div class="govuk-details__text">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Note type
              </h1>
            </legend> -->
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="attended">
                <label class="govuk-label govuk-checkboxes__label" for="type">
                  Appointments
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="fta">
                <label class="govuk-label govuk-checkboxes__label" for="type-2">
                  Claimant
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </details>

    <details class="govuk-details details-accordion" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Appointment status
        </span>
      </summary>
      <div class="govuk-details__text">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Appointment status
              </h1>
            </legend> -->
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="attended">
                <label class="govuk-label govuk-checkboxes__label" for="status">
                  Attended
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="fta">
                <label class="govuk-label govuk-checkboxes__label" for="status-2">
                  Failed to attend
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="rebooked">
                <label class="govuk-label govuk-checkboxes__label" for="status-3">
                  Rebooked
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="status-4" name="status" type="checkbox" value="cancelled">
                <label class="govuk-label govuk-checkboxes__label" for="status-4">
                  Cancelled
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </details>

    <details class="govuk-details details-accordion" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Appointment type
        </span>
      </summary>
      <div class="govuk-details__text">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Appointment type
              </h1>
            </legend> -->
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="apptype" name="apptype" type="checkbox" value="attended">
                <label class="govuk-label govuk-checkboxes__label" for="apptype">
                  Full initial NSJSA interview
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="apptype-2" name="apptype" type="checkbox" value="fta">
                <label class="govuk-label govuk-checkboxes__label" for="apptype-2">
                  Work Search review
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="apptype-3" name="apptype" type="checkbox" value="rebooked">
                <label class="govuk-label govuk-checkboxes__label" for="apptype-3">
                  Flexible intervention
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="apptype-4" name="apptype" type="checkbox" value="cancelled">
                <label class="govuk-label govuk-checkboxes__label" for="apptype-4">
                  Other
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </details>

    <details class="govuk-details details-accordion" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Agent
        </span>
      </summary>
      <div class="govuk-details__text">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Agent
              </h1>
            </legend> -->
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="workcoach" name="workcoach" type="checkbox" value="attended">
                <label class="govuk-label govuk-checkboxes__label" for="workcoach">
                  Jon Clement
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="workcoach-2" name="workcoach" type="checkbox" value="fta">
                <label class="govuk-label govuk-checkboxes__label" for="workcoach-2">
                  Sara Blythe
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="workcoach-3" name="workcoach" type="checkbox" value="rebooked">
                <label class="govuk-label govuk-checkboxes__label" for="workcoach-3">
                  Gordon Smith
                </label>
              </div>

            </div>
          </fieldset>
        </div>
      </div>
    </details>

    <details class="govuk-details details-accordion" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Appointment channel
        </span>
      </summary>
      <div class="govuk-details__text">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">
                Appointment channel
              </h1>
            </legend> -->
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="channel" name="channel" type="checkbox" value="attended">
                <label class="govuk-label govuk-checkboxes__label" for="channel">
                  Jobcentre
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="channel-2" name="channel" type="checkbox" value="fta">
                <label class="govuk-label govuk-checkboxes__label" for="channel-2">
                  Phone
                </label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </details>

  </div>
</div>

{% endblock %}
