{% extends "layout-nsjsa-final.html" %}

{% block pageTitle %}
Further appointment details - Managing Working Age Claimants
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
      }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <form action="check" method="post">
    <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-l">Further appointment details</h3>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend">
              Does the claimant have an appointee?
          </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  Yes - Corporate 
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  Yes - Personal
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group" style="display: none">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
              <legend class="govuk-fieldset__legend">
                Does the claimant have an appointee?
            </legend>

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                <label class="govuk-label govuk-radios__label" for="contact">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-email">
                    Do they have a corporate or personal appointee?
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds" id="contact-by-email" name="contactByEmail" type="email" spellcheck="false" autocomplete="email">
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                <label class="govuk-label govuk-radios__label" for="contact-2">
                  No
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2" style="display: none;">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-phone">
                    Phone number
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contactByPhone" type="tel" autocomplete="tel">
                </div>
              </div>

            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend">
              Is an interpreter needed for this appointment?
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="interpreter-2" name="interpreter" type="radio" value="Yes, {{ data['interpreter-language'] }}" data-aria-controls="conditional-interpreter-2" {{ checked("interpreter", "Yes, {{ data['interpreter-language'] }}") }}>
              <label class="govuk-label govuk-radios__label" for="interpreter-2">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-interpreter-2">
              <div class="govuk-form-group">
                <label class="govuk-label" for="interpreter-by-text">
                  What language is required?
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="interpreter-by-text" name="interpreter-language" type="text" value="{{ data['interpreter-language'] }}">
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="interpreter" name="interpreter" type="radio" value="No" {{ checked("interpreter", "No") }}>
              <label class="govuk-label govuk-radios__label" for="interpreter">
                No
              </label>
            </div>
          </div>
          </fieldset>
          </div>

          <!-- <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend">
              Why is this appointment being rebooked?
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rebook" name="rebook" type="radio" value="Claimant is ill" {{ checked("rebook", "Illness") }}>
                <label class="govuk-label govuk-radios__label" for="rebook">
                  Illness
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rebook-2" name="rebook" type="radio" value="Claimant has childcare commitments" {{ checked("rebook", "Childcare commitment") }}>
                <label class="govuk-label govuk-radios__label" for="rebook-2">
                  Childcare commitment
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rebook-3" name="rebook" type="radio" value="Claimant has a medical appointment" {{ checked("rebook", "Medical appointment") }}>
                <label class="govuk-label govuk-radios__label" for="rebook-3">
                  Medical appointment
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rebook-4" name="rebook" type="radio" value="Claimant has an interview" {{ checked("rebook", "Has an interview") }}>
                <label class="govuk-label govuk-radios__label" for="rebook-4">
                  Has an interview
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rebook-5" name="rebook" type="radio" value="Claimant needs specialist work coach" {{ checked("rebook", "Referred to a specialist work coach") }}>
                <label class="govuk-label govuk-radios__label" for="rebook-5">
                  Referred to a specialist work coach
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rebook-6" name="rebook" type="radio" value="Claimant is going through a bereavement" {{ checked("rebook", "Bereavement") }}>
                <label class="govuk-label govuk-radios__label" for="rebook-6">
                  Bereavement
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rebook-7" name="rebook" type="radio" value="Claimant has a domestic emergency" {{ checked("rebook", "Domestic emergency") }}>
                <label class="govuk-label govuk-radios__label" for="rebook-7">
                  Domestic emergency
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rebook-8" name="rebook" type="radio" value="Claimant has jury service" {{ checked("rebook", "Jury service") }}>
                <label class="govuk-label govuk-radios__label" for="rebook-8">
                  Jury service
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="rebook-9" name="rebook" type="radio" value="Other" {{ checked("rebook", "Other") }}>
                <label class="govuk-label govuk-radios__label" for="rebook-9">
                  Other
                </label>
              </div>

            </div>
          </fieldset>
        </div> -->

        <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="1000">
          <div class="govuk-form-group">
            <label class="govuk-label" for="further-appointment-info">
              Any other information?
            </label>
            <textarea class="govuk-textarea govuk-js-character-count" id="further-appointment-info" name="further-appointment-info" rows="5" aria-describedby="further-appointment-info-info">{{ data['further-appointment-info'] }}</textarea>
          </div>
          <div id="further-appointment-info-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 1000 words
          </div>
        </div>


        {{ govukButton({
          text: "Continue",
          preventDoubleClick: true
        }) }}

    </div>
    </form>
</div>

{% endblock %}
