<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Tuesday morning
          </h1>
        </legend>
        <div class="govuk-radios govuk-radios--small govuk-radios--inline flex-container longhand" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time" name="app-time" type="radio" value="9:00am">
            <label class="govuk-label govuk-radios__label" for="app-time">
              9:00am
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-2" name="app-time" type="radio" value="9.10am">
            <label class="govuk-label govuk-radios__label" for="app-time-2">
              9.10am
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-3" name="app-time" type="radio" value="9.50am">
            <label class="govuk-label govuk-radios__label" for="app-time-3">
              9.50am
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-4" name="app-time" type="radio" value="10.00am">
            <label class="govuk-label govuk-radios__label" for="app-time-4">
              10.00am
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-5" name="app-time" type="radio" value="10.30am">
            <label class="govuk-label govuk-radios__label" for="app-time-5">
              10.30am
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-6" name="app-time" type="radio" value="10.40am">
            <label class="govuk-label govuk-radios__label" for="app-time-6">
              10.40am
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-7" name="app-time" type="radio" value="10.50am">
            <label class="govuk-label govuk-radios__label" for="app-time-7">
              10.50am
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-8" name="app-time" type="radio" value="11.00am">
            <label class="govuk-label govuk-radios__label" for="app-time-8">
              11.00am
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-9" name="app-time" type="radio" value="11.40am">
            <label class="govuk-label govuk-radios__label" for="app-time-9">
              11.40am
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-10" name="app-time" type="radio" value="11.50am">
            <label class="govuk-label govuk-radios__label" for="app-time-10">
              11.50am
            </label>
          </div>
        </div>

      </fieldset>
    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Tuesday afternoon
          </h1>
        </legend>
        <div class="govuk-radios govuk-radios--small govuk-radios--inline flex-container longhand" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-11" name="app-time" type="radio" value="1.00pm">
            <label class="govuk-label govuk-radios__label" for="app-time-11">
              1.00pm
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-12" name="app-time" type="radio" value="1:10pm">
            <label class="govuk-label govuk-radios__label" for="app-time-12">
              1:10pm
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-13" name="app-time" type="radio" value="1:20pm">
            <label class="govuk-label govuk-radios__label" for="app-time-13">
              1:20pm
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-14" name="app-time" type="radio" value="2.20pm">
            <label class="govuk-label govuk-radios__label" for="app-time-14">
              2.20pm
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-15" name="app-time" type="radio" value="2.30pm">
            <label class="govuk-label govuk-radios__label" for="app-time-15">
              2.30pm
            </label>
          </div>


          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-16" name="app-time" type="radio" value="4.10pm">
            <label class="govuk-label govuk-radios__label" for="app-time-16">
              4.10pm
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-17" name="app-time" type="radio" value="4.20pm">
            <label class="govuk-label govuk-radios__label" for="app-time-17">
              4.20pm
            </label>
          </div>

        </div>

      </fieldset>
    </div>
  </div>
</div>
