{% extends "layout-esa-appointee-final.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
First - Search for a claimant
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Appointment amended
      </h1>
      <div class="govuk-panel__body">
        Appointment amended to <br> <strong><span class="date"></span></strong> at <strong>1:00pm</strong>
      </div>
    </div>
    <p>We'll send a notification to <strong>07777 900 900</strong>.</p>

    <p>

  </div>
</div>

{% endblock %}
