{% extends "layout.html" %}
{% from "timeline/macro.njk" import dwpTimeline %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
Select an appointment type - Managing Working Age Claimants
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <form action="location" method="post">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select a benefit type
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="benefit-type" name="benefit-type" type="radio" value="New Style Jobseekers Allowance" {{ checked("benefit-type", "New Style Jobseeker's Allowance") }}>
              <label class="govuk-label govuk-radios__label" for="benefit-type">
                New Style Jobseeker's Allowance
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="benefit-type-2" name="benefit-type" type="radio" value="New Style Employment and Support Allowance" {{ checked("benefit-type", "New Style Employment and Support Allowance") }}>
              <label class="govuk-label govuk-radios__label" for="benefit-type-2">
                New Style Employment and Support Allowance
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="benefit-type-3" name="benefit-type" type="radio" value="Other" {{ checked("benefit-type", "Other") }}>
              <label class="govuk-label govuk-radios__label" for="benefit-type-3">
                Other
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue",
        preventDoubleClick: true
      }) }}





    </div>

    <!-- <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">Appointment details</h3>
      <dl class="govuk-summary-list govuk-!-font-size-16">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Location
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['location'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="location">Change<span class="govuk-visually-hidden"> appointment location</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Channel
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['appointment-channel'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="channel">Change<span class="govuk-visually-hidden"> appointment channel</span></a>
          </dd>
        </div>
      </dl>
    </div> -->
</form>
</div>

{% endblock %}
