{% extends "layout-esa-appointee2.html" %}

{% block pageTitle %}
Select an appointment channel - Managing Working Age Claimants
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <form action="appointment-type" method="post">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select an appointment channel
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="appointment-channel" name="appointment-channel" type="radio" value="In jobcentre" {{ checked("appointment-channel", "In jobcentre") }}>
              <label class="govuk-label govuk-radios__label" for="appointment-channel">
                In jobcentre
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="appointment-channel-2" name="appointment-channel" type="radio" value="By phone" {{ checked("appointment-channel", "By phone") }}>
              <label class="govuk-label govuk-radios__label" for="appointment-channel-2">
                By phone
              </label>
            </div>
          </div>
        </fieldset>
        </div>

        {{ govukButton({
          text: "Continue",
          preventDoubleClick: true
        }) }}




    </div>

    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">Appointment details</h3>
      <dl class="govuk-summary-list govuk-!-font-size-16">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Location
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['location'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="location">Change<span class="govuk-visually-hidden"> appointment location</span></a>
          </dd>
        </div>
      </dl>
    </div>
    </form>

</div>

{% endblock %}
