{% extends "layout.html" %}
{% from "timeline/macro.njk" import dwpTimeline %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
First - Claimant details
{% endblock %}

{% block beforeContent %}
    {% include "../../../../version2/includes/key_details.html" %}

    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
      }) }}
{% endblock %}

{% block content %}


<!-- Includes -->
{%- set interpreter %}
{{ govukInput({
  id: "contact-by-phone",
  name: "contact-by-phone",
  type: "text",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Enter language required"
  }
}) }}
{% endset -%}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Check appointment details
        </h1>
        {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9 govuk-summary-list--no-border',
        rows: [
          {
            key: {
              text: "Appointment channel"
            },
            value: {
              text: "Job centre"
            },
            actions: {
              items: [
                {
                  href: "./type",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Appointment location"
            },
            value: {
              text: "Kendal job centre (claimant's job centre)"
            }
          },
          {
            key: {
              text: "Appointment type"
            },
            value: {
              html: "Full initial NSJSA interview"
            }
          },
          {
            key: {
              text: "Appointment length"
            },
            value: {
              html: "60 minutes"
            },
            classes: " my-border"
          },
          {
            key: {
              text: "Work coach"
            },
            value: {
              html: "Jon Clement (claimant's work coach)"
            },
            classes: " my-border",
            actions: {
              items: [
                {
                  href: "./who",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Appointment date and time"
            },
            value: {
              html: "10th October 2022 at 1:00pm"
            },
            classes: "my-border",
            actions: {
              items: [
                {
                  href: "./when",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Do they need an interpreter?"
            },
            value: {
              html: "no"
            },
            actions: {
              items: [
                {
                  href: "./further",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Any other information?"
            },
            value: {
              html: "I need them to bring a certain document as per our conversation"
            },
            classes: "my-border"
          }

        ]
      }) }}



            {{ govukButton({
            text: "Submit",
            preventDoubleClick: true,
            href: "../claimant-view-rebooked.html"
            }) }}

    </div>

</div>

{% endblock %}
