<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Monday morning
          </h1>
        </legend>
        <div class="govuk-radios govuk-radios--small govuk-radios--inline flex-container longhand" data-module="govuk-radios">

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-18" name="app-time" type="radio" value="10.40am" {{ checked("app-time", "10:40am") }}>
            <label class="govuk-label govuk-radios__label" for="app-time-18">
              10:40am
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-19" name="app-time" type="radio" value="10:50am" {{ checked("app-time", "10:50am") }}>
            <label class="govuk-label govuk-radios__label" for="app-time-19">
              10:50am
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-20" name="app-time" type="radio" value="11:20am" {{ checked("app-time", "11:20am") }}>
            <label class="govuk-label govuk-radios__label" for="app-time-20">
              11:20am
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-21" name="app-time" type="radio" value="11:30am" {{ checked("app-time", "11:30am") }}>
            <label class="govuk-label govuk-radios__label" for="app-time-21">
              11:30am
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-22" name="app-time" type="radio" value="11:40am" {{ checked("app-time", "11:40am") }}>
            <label class="govuk-label govuk-radios__label" for="app-time-22">
              11:40am
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-23" name="app-time" type="radio" value="11:50am" {{ checked("app-time", "11:50am") }}>
            <label class="govuk-label govuk-radios__label" for="app-time-23">
              11:50am
            </label>
          </div>
        </div>

      </fieldset>
    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Monday afternoon
          </h1>
        </legend>
        <div class="govuk-radios govuk-radios--small govuk-radios--inline flex-container longhand" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-24" name="app-time" type="radio" value="1:00pm" {{ checked("app-time", "1:00pm") }}>
            <label class="govuk-label govuk-radios__label" for="app-time-24">
              1:00pm
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-25" name="app-time" type="radio" value="1:10pm" {{ checked("app-time", "1:10pm") }}>
            <label class="govuk-label govuk-radios__label" for="app-time-25">
              1:10pm
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-26" name="app-time" type="radio" value="3:20pm" {{ checked("app-time", "3:20pm") }}>
            <label class="govuk-label govuk-radios__label" for="app-time-26">
              3:20pm
            </label>
          </div>


          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-27a" name="app-time" type="radio" value="5:10pm" {{ checked("app-time", "5:10pm") }}>
            <label class="govuk-label govuk-radios__label" for="app-time-27a">
              5:10pm
            </label>
          </div>


        </div>

      </fieldset>
    </div>
  </div>
</div>
