<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Morning
          </h1>
        </legend>
        <div class="govuk-radios govuk-radios--small govuk-radios--inline flex-container longhand" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-27" name="app-time" type="radio" value="9:00am">
            <label class="govuk-label govuk-radios__label" for="app-time-27">
              9:00am
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-28" name="app-time" type="radio" value="9.10am">
            <label class="govuk-label govuk-radios__label" for="app-time-28">
              9.10am
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-29" name="app-time" type="radio" value="9.20am">
            <label class="govuk-label govuk-radios__label" for="app-time-29">
              9.20am
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-30" name="app-time" type="radio" value="9.30am">
            <label class="govuk-label govuk-radios__label" for="app-time-30">
              9.30am
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-31" name="app-time" type="radio" value="9.40am">
            <label class="govuk-label govuk-radios__label" for="app-time-31">
              9.40am
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-32" name="app-time" type="radio" value="9.50am">
            <label class="govuk-label govuk-radios__label" for="app-time-32">
              9.50am
            </label>
          </div>


        </div>

      </fieldset>
    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Afternoon
          </h1>
        </legend>
        <div class="govuk-radios govuk-radios--small govuk-radios--inline flex-container longhand" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-33" name="app-time" type="radio" value="1.00pm">
            <label class="govuk-label govuk-radios__label" for="app-time-33">
              1.00pm
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-34" name="app-time" type="radio" value="1:10pm">
            <label class="govuk-label govuk-radios__label" for="app-time-34">
              1:10pm
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-34a" name="app-time" type="radio" value="1:20pm">
            <label class="govuk-label govuk-radios__label" for="app-time-34a">
              1:20pm
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-35" name="app-time" type="radio" value="1.40pm">
            <label class="govuk-label govuk-radios__label" for="app-time-35">
              1.40pm
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-36" name="app-time" type="radio" value="2.10pm">
            <label class="govuk-label govuk-radios__label" for="app-time-36">
              2.10pm
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-37" name="app-time" type="radio" value="2.20pm">
            <label class="govuk-label govuk-radios__label" for="app-time-37">
              2.20pm
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-38" name="app-time" type="radio" value="2.30pm">
            <label class="govuk-label govuk-radios__label" for="app-time-38">
              2.30pm
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-39" name="app-time" type="radio" value="2.40pm">
            <label class="govuk-label govuk-radios__label" for="app-time-39">
              2.40pm
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-40" name="app-time" type="radio" value="2.50pm">
            <label class="govuk-label govuk-radios__label" for="app-time-40">
              2.50pm
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-41" name="app-time" type="radio" value="3.00pm">
            <label class="govuk-label govuk-radios__label" for="app-time-41">
              3.00pm
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-42" name="app-time" type="radio" value="3.50pm">
            <label class="govuk-label govuk-radios__label" for="app-time-42">
              3.50pm
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-43" name="app-time" type="radio" value="4.10pm">
            <label class="govuk-label govuk-radios__label" for="app-time-43">
              4.10pm
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-44" name="app-time" type="radio" value="4.20pm">
            <label class="govuk-label govuk-radios__label" for="app-time-44">
              4.20pm
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-45" name="app-time" type="radio" value="4.30pm">
            <label class="govuk-label govuk-radios__label" for="app-time-45">
              4.30pm
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-46" name="app-time" type="radio" value="5.20pm">
            <label class="govuk-label govuk-radios__label" for="app-time-46">
              5.20pm
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-47" name="app-time" type="radio" value="5.30pm">
            <label class="govuk-label govuk-radios__label" for="app-time-47">
              5.30pm
            </label>
          </div>

        </div>

      </fieldset>
    </div>
  </div>
</div>
