{% extends "layout-esa-appointee4.html" %}
{% from "timeline/macro.njk" import dwpTimeline %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
Mark appointment as attended - Managing Working Age Claimants
{% endblock %}

{% block beforeContent %}

    {{ govukBackLink({
        text: "Back",
        href: "javascript:history.back()"
      }) }}
{% endblock %}

{% block content %}


<!-- Includes -->
{%- set interpreter %}
{{ govukInput({
  id: "contact-by-phone",
  name: "contact-by-phone",
  type: "text",
  classes: "govuk-!-width-one-third",
  label: {
    text: "Enter language required"
  }
}) }}
{% endset -%}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">New claim appointment</span>
        <h3 class="govuk-heading-l"><span class="date"></span> - 1:00pm to 1:50pm</h3>

        <form action="attended-notes" method="post">

          <div class="govuk-inset-text">
            Knowledge-based verification: You can find examples of KBV questions on the <a class="govuk-link--no-visited-state" href="https://intranet.dwp.gov.uk/manual/identity-verification-dwp/knowledge-based-verification-questions" target="_blank">DWP intranet</a>.
          </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend">
                    Has the claimant passed knowledge based verification checks?
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="kbv-check-2" name="kbv-check" type="radio" value="email" data-aria-controls="conditional-kbv-check">
                    <label class="govuk-label govuk-radios__label" for="kbv-check-2">
                      Yes
                    </label>
                  </div>

                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-kbv-check">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="kbv-notes">
                        Enter the KBV questions used
                      </label>
                      <textarea class="govuk-textarea govuk-!-width-full" id="kbv-notes" name="kbv-notes" rows="5"></textarea>
                    </div>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="kbv-check" name="kbv-check" type="radio" value="No">
                    <label class="govuk-label govuk-radios__label" for="kbv-check">
                      No
                    </label>
                  </div>


                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend">
                    Has the appointee passed knowledge based verification checks?
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="kbv-check-appointee-2" name="kbv-check-appointee" type="radio" value="email" data-aria-controls="conditional-kbv-check-appointee">
                    <label class="govuk-label govuk-radios__label" for="kbv-check-appointee-2">
                      Yes
                    </label>
                  </div>

                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-kbv-check-appointee">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="kbv-notes">
                        Enter the KBV questions used
                      </label>
                      <textarea class="govuk-textarea govuk-!-width-full" id="kbv-notes" name="kbv-notes" rows="5"></textarea>
                    </div>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="kbv-check-appointee" name="kbv-check-appointee" type="radio" value="No">
                    <label class="govuk-label govuk-radios__label" for="kbv-check-appointee">
                      No
                    </label>
                  </div>

                </div>
              </fieldset>
            </div>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


            <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="1000">
              <div class="govuk-form-group">
                  <label class="govuk-label " for="appointment-notes">
                    Appointment notes
                  </label>
                <textarea class="govuk-textarea govuk-js-character-count" id="appointment-notes" name="appointment-notes" rows="5" aria-describedby="appointment-notes-info"></textarea>
              </div>
              <div id="appointment-notes-info" class="govuk-hint govuk-character-count__message">
                You can enter up to 1000 words
              </div>
            </div>


        {{ govukButton({
          text: "Mark appointment as attended",
          preventDoubleClick: true
        }) }}

        </form>

    </div>

    <!-- <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m" style="border-top: #1d70b8 solid 4px; padding-top: 4px;">Recent appointments</h3>

      <p>No recent appointments</p>

    </div> -->



</div>

{% endblock %}
