<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Thursday morning
          </h1>
        </legend>
        <div class="govuk-radios govuk-radios--small govuk-radios--inline flex-container longhand" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-48" name="app-time" type="radio" value="9:00am">
            <label class="govuk-label govuk-radios__label" for="app-time-48">
              9:00am
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-49" name="app-time" type="radio" value="11.10am">
            <label class="govuk-label govuk-radios__label" for="app-time-49">
              11.10am
            </label>
          </div>

        </div>

      </fieldset>
    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Thursday afternoon
          </h1>
        </legend>
        <div class="govuk-radios govuk-radios--small govuk-radios--inline flex-container longhand" data-module="govuk-radios">

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-50" name="app-time" type="radio" value="2.10pm">
            <label class="govuk-label govuk-radios__label" for="app-time-50">
              2.10pm
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-51" name="app-time" type="radio" value="3.10pm">
            <label class="govuk-label govuk-radios__label" for="app-time-51">
              3.10pm
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-52" name="app-time" type="radio" value="3.20pm">
            <label class="govuk-label govuk-radios__label" for="app-time-52">
              3.20pm
            </label>
          </div>


        </div>

      </fieldset>
    </div>
  </div>
</div>
