<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Morning
          </h1>
        </legend>
        <div class="govuk-radios govuk-radios--small govuk-radios--inline flex-container longhand" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time" name="app-time" type="radio" value="time">
            <label class="govuk-label govuk-radios__label" for="app-time">
              9:00am
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-2" name="app-time" type="radio" value="time">
            <label class="govuk-label govuk-radios__label" for="app-time-2">
              9.10am
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-2" name="app-time" type="radio" value="time">
            <label class="govuk-label govuk-radios__label" for="app-time-2">
              9.50am
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-2" name="app-time" type="radio" value="time">
            <label class="govuk-label govuk-radios__label" for="app-time-2">
              10.00am
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-2" name="app-time" type="radio" value="time">
            <label class="govuk-label govuk-radios__label" for="app-time-2">
              10.30am
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-2" name="app-time" type="radio" value="time">
            <label class="govuk-label govuk-radios__label" for="app-time-2">
              10.40am
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-2" name="app-time" type="radio" value="time">
            <label class="govuk-label govuk-radios__label" for="app-time-2">
              10.50am
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-2" name="app-time" type="radio" value="time">
            <label class="govuk-label govuk-radios__label" for="app-time-2">
              11.00am
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-2" name="app-time" type="radio" value="time">
            <label class="govuk-label govuk-radios__label" for="app-time-2">
              11.40am
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-2" name="app-time" type="radio" value="time">
            <label class="govuk-label govuk-radios__label" for="app-time-2">
              11.50am
            </label>
          </div>
        </div>

      </fieldset>
    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Afternoon
          </h1>
        </legend>
        <div class="govuk-radios govuk-radios--small govuk-radios--inline flex-container longhand" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-2" name="app-time" type="radio" value="time">
            <label class="govuk-label govuk-radios__label" for="app-time-2">
              1.00pm
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-2" name="app-time" type="radio" value="time">
            <label class="govuk-label govuk-radios__label" for="app-time-2">
              1:10pm
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-2" name="app-time" type="radio" value="time">
            <label class="govuk-label govuk-radios__label" for="app-time-2">
              1:20pm
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-2" name="app-time" type="radio" value="time">
            <label class="govuk-label govuk-radios__label" for="app-time-2">
              2.20pm
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-2" name="app-time" type="radio" value="time">
            <label class="govuk-label govuk-radios__label" for="app-time-2">
              2.30pm
            </label>
          </div>


          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-2" name="app-time" type="radio" value="time">
            <label class="govuk-label govuk-radios__label" for="app-time-2">
              4.10pm
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="app-time-2" name="app-time" type="radio" value="time">
            <label class="govuk-label govuk-radios__label" for="app-time-2">
              4.20pm
            </label>
          </div>

        </div>

      </fieldset>
    </div>
  </div>
</div>
