{% extends "layout-esa-appointee-final.html" %}

{% block pageTitle %}
Select an appointment channel - Managing Working Age Claimants
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <form action="appointment-type" method="post">
    <div class="govuk-grid-column-two-thirds">

      
      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="phone-number">
            What is the appointee’s mobile number?
          </label>
        </h1>
        <div id="phone-number-hint" class="govuk-hint">
          Notifications will be sent to the claimant using this number
        </div>
        <input class="govuk-input govuk-!-width-one-third" id="phone-number" name="phone-number" type="text" aria-describedby="phone-number-hint">



        </div>
      
        {{ govukButton({
          text: "Save and continue",
          preventDoubleClick: true,
          href: "../existing-claim-v3/check"
          }) }}

    </div>

    </form>

</div>

{% endblock %}
