{% extends "layout-nokeydetails.html" %}

{% block pageTitle %}
Managing Working Age Claimants - Prototype
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Managing Working Age Claimants prototypes
    </h1>
    <p>
      These are prototypes for the Labour Market System function replacements.
    </p>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-l">Private Beta - Beta 1</h3>

    <p>Beta-1 version for the initial private beta.<p>

    <p>Reduced functionality, will not include;</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>UC Integration</li>
      <li>Automatic e-mail and SMS notifications</li>
      <li>Key details bar (no CIS integration)</li>
      <li>Filtering/sorting of appointment notes</li>
    </ul>

    <a href="beta1/workcoach/searchlight" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
  </div>

  <div class="govuk-grid-column-one-third" >
    <h4 class="govuk-heading-s govuk-!-padding-top-1" style="border-top: 4px solid #1d70b8">Quick links</h4>
    <ul class="govuk-list">
      <li>
        <a href="/beta1/workcoach/claim-list" class="govuk-link--no-visited-state">Claim interception list</a>
      </li>
      <li>
        <a href="/beta1/workcoach/full-appointment-list" class="govuk-link--no-visited-state">All appointments list</a>
      </li>
      <li>
        <a href="/beta1/workcoach/diary2" class="govuk-link--no-visited-state">Claimant appointments list</a>
      </li>
      <li>
        <a href="/beta1/workcoach/existing-claim-v3/location" class="govuk-link--no-visited-state">Book an appointment</a>
      </li>
      <li>
        <a href="/beta1/workcoach/edit-appt/amend-2" class="govuk-link--no-visited-state">Conduct an appointment</a>
      </li>
      <li>
        <a href="/beta1/workcoach/edit-appt/history" class="govuk-link--no-visited-state">View history</a>
      </li>
      <li>
        <a href="/beta1/workcoach/edit-appt/add-note" class="govuk-link--no-visited-state">Add a claimant note</a>
      </li>
    </ul>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-l">Public Beta - NSJSA</h3>
    <p>Allow agents to book appointments without having to use LMS</p>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Appointments
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#contactcentre">
            Contact centre
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#workcoach">
            Work coaches
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#teamleads">
            Team leaders
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#notifications">
            Notifications
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="contactcentre">
        <h4 class="govuk-heading-s">Contact centre initial appointment booking <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">New</strong></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/version8/contactcentre/choose-task-v1" class="govuk-link--no-visited-state">Version 1</a> - banner
          </li>
          <li>
            <a href="/version8/contactcentre/choose-task-v2" class="govuk-link--no-visited-state">Version 2</a> - button
          </li>
          <!-- <li>
            <a href="/uc_clone/agent-home">UC Clone</a>
          </li> -->
        </ul>

        <h4 class="govuk-heading-s">Booking an appointment <strong class="govuk-tag govuk-!-margin-left-1">tested</strong></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/first_pass/search?route=g4s" class="govuk-link--no-visited-state">Version 1</a>
          </li>
          <li>
            <a href="/version2/contactcentre/search" class="govuk-link--no-visited-state">Version 2</a>
          </li>
          <!-- <li>
            <a href="/uc_clone/agent-home">UC Clone</a>
          </li> -->
        </ul>

      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="workcoach">
        <h4 class="govuk-heading-s">Appointment booking new flow <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">new</strong></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/version8/workcoach/searchlight-existing-claim-results" class="govuk-link--no-visited-state">Searchlight - existing claim</a></li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h4 class="govuk-heading-s">Appointment booking re-design <strong class="govuk-tag govuk-!-margin-left-1">tested</strong></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/version7/workcoach/searchlight-existing-claim-results" class="govuk-link--no-visited-state">Searchlight - existing claim</a></li>
          <li><a href="/version7/workcoach/existing-claim/location" class="govuk-link--no-visited-state">Existing claim - book appointment - v1</a></li>
          <li><a href="/version7/workcoach/existing-claim-v2/location" class="govuk-link--no-visited-state">Existing claim - book appointment - v2</a></li>
          <li><a href="/version7/workcoach/existing-claim-v3/location" class="govuk-link--no-visited-state">Existing claim - book appointment - v3</a></li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h4 class="govuk-heading-s">ID collection <strong class="govuk-tag govuk-tag govuk-!-margin-left-1">tested</strong></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/version6/workcoach/edit-appt/amend-2" class="govuk-link--no-visited-state">ID collection original version</a></li>
          <li><a href="/version6/workcoach/edit-appt/appointment-details-2" class="govuk-link--no-visited-state">ID collection version 2</a></li>
          <li><a href="/version6/workcoach/edit-appt/appointment-details-3" class="govuk-link--no-visited-state">ID collection version 3</a></li>
        </ul>

        <h4 class="govuk-heading-s">Note types <strong class="govuk-tag govuk-tag govuk-!-margin-left-1">tested</strong></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/version6/workcoach/searchlight-results-decisions1" class="govuk-link--no-visited-state">Note types version 1</a></li>
          <li><a href="/version6/workcoach/searchlight-results-decisions2" class="govuk-link--no-visited-state">Note types version 2</a></li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h4 class="govuk-heading-s">Historical appointments and notes <strong class="govuk-tag govuk-!-margin-left-1">tested</strong></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/version5/workcoach/searchlight" class="govuk-link--no-visited-state">Version 1 </a>- permanent filters
          </li>
          <li>
            <a href="/version5/workcoach/searchlightb" class="govuk-link--no-visited-state">Version 2 </a>- toggle filters
          </li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h4 class="govuk-heading-s">Diary view and contact details <strong class="govuk-tag govuk-!-margin-left-1">tested</strong></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/version4/workcoach/searchlight" class="govuk-link--no-visited-state">Version 1 </a>- diary in MWAC service
          </li>
          <li>
            <a href="/version4/UC/searchlight" class="govuk-link--no-visited-state">Version 2 </a>- redirect to UC diary
          </li>
        </ul>

        <h4 class="govuk-heading-s">Claimant markers <strong class="govuk-tag govuk-!-margin-left-1">tested</strong></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/version4/workcoach/searchlight-marker" class="govuk-link--no-visited-state">Current approach </a>
          </li>
        </ul>

        <h4 class="govuk-heading-s">Interacting with an existing appointment <strong class="govuk-tag govuk-!-margin-left-1">tested</strong></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/searchlight/search-v2?search=second" class="govuk-link--no-visited-state">Version 1</a>
          </li>
          <li>
            <a href="/searchlight/search?search=version2%2Fworkcoach%2Fedit-appt" class="govuk-link--no-visited-state">Version 2</a>
          </li>
          <li>
            <a href="/searchlight/search?search=version3%2Fworkcoach%2Fedit-appt" class="govuk-link--no-visited-state">Version 3</a>
          </li>
        </ul>



        <h4 class="govuk-heading-s">Booking an appointment <strong class="govuk-tag govuk-!-margin-left-1">tested</strong></h4>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/first_pass/search" class="govuk-link--no-visited-state">Version 1</a>
          </li>
          <li>
            <a href="/version2/workcoach/search" class="govuk-link--no-visited-state">Version 2</a>
          </li>
          <!-- <li>
            <a href="/uc_clone/agent-home">UC Clone</a>
          </li> -->
        </ul>


      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="teamleads">
        <h4 class="govuk-heading-s">Diary view<strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">new</strong></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/version4/diarymanager/searchlight" class="govuk-link--no-visited-state">Version 1 </a>- diary in MWAC service
          </li>
        </ul>


      </div>
      <div class="govuk-tabs__panel" id="notifications">
        <h4 class="govuk-heading-s">Citizen notifications <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">new</strong></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="version6/notifications/booked" class="govuk-link--no-visited-state">Appointment booked</a>
          </li>
          <li>
            <a href="version6/notifications/rebooked-first" class="govuk-link--no-visited-state">First appointment rebooked</a>
          </li>
          <li>
            <a href="version6/notifications/rebooked" class="govuk-link--no-visited-state">Appointment re-booked</a>
          </li>
          <li>
            <a href="version6/notifications/cancelled" class="govuk-link--no-visited-state">Appointment cancelled by DWP</a>
          </li>
          <li>
            <a href="version6/notifications/cancelled2" class="govuk-link--no-visited-state">Appointment cancelled by claimant</a>
          </li>
          <li>
            <a href="version6/notifications/notattended" class="govuk-link--no-visited-state">First appointment not attended</a>
          </li>
          <li>
            <a href="version6/notifications/notattended2" class="govuk-link--no-visited-state">Other appointment not attended</a>
          </li>
          <li>
            <a href="version6/notifications/reminder" class="govuk-link--no-visited-state">Appointment reminder</a>
          </li>
        </ul>

      </div>
    </div>

  </div>

  <div class="govuk-grid-column-one-third" >
    <h4 class="govuk-heading-s govuk-!-padding-top-1" style="border-top: 4px solid #1d70b8">Useful links</h4>
    <ul class="govuk-list">
      <li>
        <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1666364779858/9633be5c048c3ca220847a226708bc80600debe6?sender=u27e278891566c2ea43a98054" class="govuk-link--no-visited-state">User research</a>
      </li>
      <li>
        <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1666550060367/a36b25890036d8abec64f8b2e173eecde0732b29?sender=u27e278891566c2ea43a98054" class="govuk-link--no-visited-state">User journeys</a>
      </li>
    </ul>
  </div>


</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-l">Public Beta - NSESA</h3>
    <p>Allow agents to book appointments without having to use LMS</p>

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Appointments
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#contactcentre-esa">
            Contact centre
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#workcoach-esa">
            Work coaches
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#teamleads-esa">
            Team leaders
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#notifications-esa">
            Notifications
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="contactcentre-esa">
        Coming soon

      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="workcoach-esa">
        <h4 class="govuk-heading-s">Version 3 (work in progress) <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">New</strong></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/version3-esa/workcoach/searchlight" class="govuk-link--no-visited-state">Benefit tag</a></li>
          <li><a href="/version3-esa-2/workcoach/searchlight" class="govuk-link--no-visited-state">Appointee tag</a></li>
        </ul>

        <h4 class="govuk-heading-s">Version 2 <strong class="govuk-tag govuk-tag govuk-!-margin-left-1">Tested</strong></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/version2-esa/workcoach/searchlight" class="govuk-link--no-visited-state">Appointee bar</a></li>
          <li><a href="/version2-esa-2/workcoach/searchlight" class="govuk-link--no-visited-state">Appointee tag</a></li>
        </ul>

        <h4 class="govuk-heading-s">Version 1 <strong class="govuk-tag govuk-!-margin-left-1">Tested</strong></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/version1-esa/workcoach/searchlight" class="govuk-link--no-visited-state">Searchlight</a></li>
        </ul>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="teamleads-esa">
        <h4 class="govuk-heading-s">Diary view<strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">new</strong></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/version4/diarymanager/searchlight" class="govuk-link--no-visited-state">Version 1 </a>- diary in MWAC service
          </li>
        </ul>
      </div>

      <div class="govuk-tabs__panel" id="notifications-esa">
        <h4 class="govuk-heading-s">Citizen notifications <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">new</strong></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="version6/notifications/booked" class="govuk-link--no-visited-state">Appointment booked</a>
          </li>
          <li>
            <a href="version6/notifications/rebooked-first" class="govuk-link--no-visited-state">First appointment rebooked</a>
          </li>
          <li>
            <a href="version6/notifications/rebooked" class="govuk-link--no-visited-state">Appointment re-booked</a>
          </li>
          <li>
            <a href="version6/notifications/cancelled" class="govuk-link--no-visited-state">Appointment cancelled by DWP</a>
          </li>
          <li>
            <a href="version6/notifications/cancelled2" class="govuk-link--no-visited-state">Appointment cancelled by claimant</a>
          </li>
          <li>
            <a href="version6/notifications/notattended" class="govuk-link--no-visited-state">First appointment not attended</a>
          </li>
          <li>
            <a href="version6/notifications/notattended2" class="govuk-link--no-visited-state">Other appointment not attended</a>
          </li>
          <li>
            <a href="version6/notifications/reminder" class="govuk-link--no-visited-state">Appointment reminder</a>
          </li>
        </ul>

      </div>
    </div>

  </div>

  <div class="govuk-grid-column-one-third" >
    <h4 class="govuk-heading-s govuk-!-padding-top-1" style="border-top: 4px solid #1d70b8">Useful links</h4>
    <ul class="govuk-list">
      <li>
        <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1666364779858/9633be5c048c3ca220847a226708bc80600debe6?sender=u27e278891566c2ea43a98054" class="govuk-link--no-visited-state">User research</a>
      </li>
      <li>
        <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1666550060367/a36b25890036d8abec64f8b2e173eecde0732b29?sender=u27e278891566c2ea43a98054" class="govuk-link--no-visited-state">User journeys</a>
      </li>
    </ul>
  </div>


</div>

{% endblock %}
