{% extends "layout-nokeydetails.html" %}

{% block pageTitle %}
Managing Working Age Claimants - Prototype
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Managing Working Age Claimants prototypes
    </h1>
    <p>
      These are prototypes for the Labour Market System function replacements.
    </p>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-l">Private Beta</h3>

    <!-- PRIVATE BETA -->

    <div class="govuk-tabs" data-module="govuk-tabs">
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#private-beta-1">
            Private Beta 1
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#private-beta-2">
            Private Beta 2
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="private-beta-1">

        <ul class="govuk-list">
          <li><span class="govuk-!-font-size-36" style="color: #00703c;">&#9745;</span> Book, rebook and cancel appointments</li>
          <li><span class="govuk-!-font-size-36" style="color: #00703c;">&#9745;</span> View appoinments booked</li>
          <li><span class="govuk-!-font-size-36" style="color: #00703c;">&#9745;</span> Mark appointments as attended or failed to attend</li>
          <li><span class="govuk-!-font-size-36" style="color: #00703c;">&#9745;</span> Record notes during and after appointments</li>
          <li><span class="govuk-!-font-size-36" style="color: #00703c;">&#9745;</span> View historical appointments and notes</li>
          <li><span class="govuk-!-font-size-36" style="color: #d4351c;">&#9746;</span> UC Integration</li>
          <li><span class="govuk-!-font-size-36" style="color: #d4351c;">&#9746;</span> Automatic e-mail and SMS notifications</li>
          <li><span class="govuk-!-font-size-36" style="color: #d4351c;">&#9746;</span> Key details bar (no CIS integration)</li>
          <li><span class="govuk-!-font-size-36" style="color: #d4351c;">&#9746;</span> Filtering/sorting of appointment notes</li>
        </ul>

        <a href="beta1/workcoach/searchlight" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Start Private Beta 1
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </div>
      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="private-beta-2">

        <ul class="govuk-list">
          <li><span class="govuk-!-font-size-36" style="color: #00703c;">&#9745;</span> Book, rebook and cancel appointments</li>
          <li><span class="govuk-!-font-size-36" style="color: #00703c;">&#9745;</span> View appoinments booked</li>
          <li><span class="govuk-!-font-size-36" style="color: #00703c;">&#9745;</span> Mark appointments as attended or failed to attend</li>
          <li><span class="govuk-!-font-size-36" style="color: #00703c;">&#9745;</span> Record notes during and after appointments</li>
          <li><span class="govuk-!-font-size-36" style="color: #00703c;">&#9745;</span> View historical appointments and notes</li>
          <li><span class="govuk-!-font-size-36" style="color: #00703c;">&#9745;</span> UC Integration</li>
          <li><span class="govuk-!-font-size-36" style="color: #d4351c;">&#9746;</span> Automatic e-mail and SMS notifications</li>
          <li><span class="govuk-!-font-size-36" style="color: #d4351c;">&#9746;</span> Key details bar (no CIS integration)</li>
          <li><span class="govuk-!-font-size-36" style="color: #d4351c;">&#9746;</span> Filtering/sorting of appointment notes</li>
        </ul>

        <a href="beta2/workcoach/searchlight" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Start Private Beta 2
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third" >
    <h4 class="govuk-heading-s govuk-!-padding-top-1" style="border-top: 4px solid #1d70b8">Quick links</h4>
    <ul class="govuk-list">
      <li>
        <a href="/beta1/workcoach/claim-list" class="govuk-link--no-visited-state">Claim interception list</a>
      </li>
      <li>
        <a href="/beta1/workcoach/full-appointment-list" class="govuk-link--no-visited-state">All appointments list</a>
      </li>
      <li>
        <a href="/beta1/workcoach/diary2" class="govuk-link--no-visited-state">Claimant appointments list</a>
      </li>
      <li>
        <a href="/beta1/workcoach/existing-claim-v3/location" class="govuk-link--no-visited-state">Book an appointment</a>
      </li>
      <li>
        <a href="/beta1/workcoach/edit-appt/amend-2" class="govuk-link--no-visited-state">Conduct an appointment</a>
      </li>
      <li>
        <a href="/beta1/workcoach/edit-appt/history" class="govuk-link--no-visited-state">View history</a>
      </li>
      <li>
        <a href="/beta1/workcoach/edit-appt/add-note" class="govuk-link--no-visited-state">Add a claimant note</a>
      </li>
    </ul>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<!-- PUBLIC BETA NSJSA -->

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-l">Public Beta - NSJSA</h3>
    <p>Additional features and improvements that will be in place for NSJSA Public Beta</p>
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Appointments
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#publicbeta1">
            Public Beta
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#Fortesting">
            For testing
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#Testednsjsa">
            Tested designs
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#notificationsnsjsa">
            Notifications
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="publicbeta1">
        <ul class="govuk-list">
          <li><span class="govuk-!-font-size-36" style="color: #00703c;">&#9745;</span> Improved ID collection</li>
          <li><span class="govuk-!-font-size-36" style="color: #00703c;">&#9745;</span> Improved history and filters</li>
          <li><span class="govuk-!-font-size-36" style="color: #00703c;">&#9745;</span> Improved appointment booking playback</li>
        </ul>

        <a href="nsjsa-publicbeta/workcoach/searchlight-existing-claim" role="button" draggable="false" class="govuk-button govuk-button--start govuk-button--secondary" data-module="govuk-button">
          Start NSJSA Public Beta
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>

      </div>

      <div class="govuk-tabs__panel" id="Fortesting">
        <h4 class="govuk-heading-s">Task Failure scenarios <strong class="govuk-tag govuk-tag govuk-tag--green govuk-!-margin-left-1">New</strong><div class="govuk-hint">Dec 2024</div></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="version9b/workcoach/scene-1/location" class="govuk-link--no-visited-state">Appointment booking error on check details screen</a>
          </li>
          <li>
            <a href="version9b/workcoach/scene-2/location" class="govuk-link--no-visited-state">Appointment booking error on problem page</a>
          </li>
          <li>
            <a href="version9b/workcoach/scene-3/location" class="govuk-link--no-visited-state">Appointment booking error - new page with options</a>
          </li>
          <li>
            <a href="version9b/workcoach/scene-4/check" class="govuk-link--no-visited-state">Contact details error with banner</a>
          </li>
          <li>
            <a href="version9b/workcoach/scene-5/check" class="govuk-link--no-visited-state">Contact details error with new page</a>
          </li>
        </ul>

        <!--  -->

        <h4 class="govuk-heading-s">Booked appointments <strong class="govuk-tag govuk-tag govuk-tag--green govuk-!-margin-left-1">New</strong><div class="govuk-hint">Nov 2024</div></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="version9/contactcentre/searchlight-existing-claim-results" class="govuk-link--no-visited-state">Contact centre - Booked appointments v1</a>
          </li>
          <li>
            <a href="version9a/contactcentre/searchlight-existing-claim-results" class="govuk-link--no-visited-state">Contact centre - Booked appointments v2</a>
          </li>
          <li>
            <a href="version9/workcoach/searchlight-existing-claim-results" class="govuk-link--no-visited-state">Work coach - Booked appointments v1</a>
          </li>
          <li>
            <a href="version9a/workcoach/searchlight-existing-claim-results" class="govuk-link--no-visited-state">Work coach - Booked appointments v2</a>
          </li>
        </ul>

      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="Testednsjsa">
        <h4 class="govuk-heading-s">Contact centre initial appointment booking <strong class="govuk-tag govuk-tag govuk-!-margin-left-1">Tested</strong><div class="govuk-hint">Sept 2024</div></h4>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/version8/contactcentre/choose-task-v1" class="govuk-link--no-visited-state">Version 1</a> - banner
          </li>
          <li>
            <a href="/version8/contactcentre/choose-task-v2" class="govuk-link--no-visited-state">Version 2</a> - button
          </li>
        </ul>

        <h4 class="govuk-heading-s">Appointment booking new flow <strong class="govuk-tag govuk-tag govuk-!-margin-left-1">Tested</strong><div class="govuk-hint">Apr 2024</div></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/version8/workcoach/searchlight-existing-claim-results" class="govuk-link--no-visited-state">Searchlight - existing claim</a></li>
        </ul>

        <h4 class="govuk-heading-s">Appointment booking re-design <strong class="govuk-tag govuk-!-margin-left-1">Tested</strong><div class="govuk-hint">Apr 2024</div></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/version7/workcoach/searchlight-existing-claim-results" class="govuk-link--no-visited-state">Searchlight - existing claim</a></li>
          <li><a href="/version7/workcoach/existing-claim/location" class="govuk-link--no-visited-state">Existing claim - book appointment - v1</a></li>
          <li><a href="/version7/workcoach/existing-claim-v2/location" class="govuk-link--no-visited-state">Existing claim - book appointment - v2</a></li>
          <li><a href="/version7/workcoach/existing-claim-v3/location" class="govuk-link--no-visited-state">Existing claim - book appointment - v3</a></li>
        </ul>

        <h4 class="govuk-heading-s">ID collection <strong class="govuk-tag govuk-tag govuk-!-margin-left-1">Tested</strong><div class="govuk-hint">Mar 2024</div></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/version6/workcoach/edit-appt/amend-2" class="govuk-link--no-visited-state">ID collection original version</a></li>
          <li><a href="/version6/workcoach/edit-appt/appointment-details-2" class="govuk-link--no-visited-state">ID collection version 2</a></li>
          <li><a href="/version6/workcoach/edit-appt/appointment-details-3" class="govuk-link--no-visited-state">ID collection version 3</a></li>
        </ul>

        <h4 class="govuk-heading-s">Note types <strong class="govuk-tag govuk-tag govuk-!-margin-left-1">Tested</strong><div class="govuk-hint">Nov 2023</div></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/version6/workcoach/searchlight-results-decisions1" class="govuk-link--no-visited-state">Note types version 1</a></li>
          <li><a href="/version6/workcoach/searchlight-results-decisions2" class="govuk-link--no-visited-state">Note types version 2</a></li>
        </ul>

        <h4 class="govuk-heading-s">Historical appointments and notes <strong class="govuk-tag govuk-!-margin-left-1">Tested</strong><div class="govuk-hint">Oct 2023</div></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/version5/workcoach/searchlight" class="govuk-link--no-visited-state">Version 1 </a>- permanent filters
          </li>
          <li>
            <a href="/version5/workcoach/searchlightb" class="govuk-link--no-visited-state">Version 2 </a>- toggle filters
          </li>
        </ul>


        <h4 class="govuk-heading-s">Diary view and contact details <strong class="govuk-tag govuk-!-margin-left-1">Tested</strong><div class="govuk-hint">Aug 2023</div></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/version4/workcoach/searchlight" class="govuk-link--no-visited-state">Version 1 </a>- diary in MWAC service
          </li>
          <li>
            <a href="/version4/UC/searchlight" class="govuk-link--no-visited-state">Version 2 </a>- redirect to UC diary
          </li>
        </ul>

        <h4 class="govuk-heading-s">Diary view<strong class="govuk-tag govuk-tag govuk-!-margin-left-1">Tested</strong><div class="govuk-hint">May 2023</div></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/version4/diarymanager/searchlight" class="govuk-link--no-visited-state">Version 1 </a>- diary in MWAC service
          </li>
        </ul>

        <h4 class="govuk-heading-s">Claimant markers <strong class="govuk-tag govuk-!-margin-left-1">Tested</strong><div class="govuk-hint">May 2023</div></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/version4/workcoach/searchlight-marker" class="govuk-link--no-visited-state">Current approach </a>
          </li>
        </ul>

        <h4 class="govuk-heading-s">Interacting with an existing appointment <strong class="govuk-tag govuk-!-margin-left-1">Tested</strong><div class="govuk-hint">Dec 2022</div></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/searchlight/search-v2?search=second" class="govuk-link--no-visited-state">Version 1</a>
          </li>
          <li>
            <a href="/searchlight/search?search=version2%2Fworkcoach%2Fedit-appt" class="govuk-link--no-visited-state">Version 2</a>
          </li>
          <li>
            <a href="/searchlight/search?search=version3%2Fworkcoach%2Fedit-appt" class="govuk-link--no-visited-state">Version 3</a>
          </li>
        </ul>



        <h4 class="govuk-heading-s">Booking an appointment <strong class="govuk-tag govuk-!-margin-left-1">Tested</strong><div class="govuk-hint">Oct 2022</div></h4>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/first_pass/search" class="govuk-link--no-visited-state">Version 1</a>
          </li>
          <li>
            <a href="/version2/workcoach/search" class="govuk-link--no-visited-state">Version 2</a>
          </li>
          <!-- <li>
            <a href="/uc_clone/agent-home">UC Clone</a>
          </li> -->
        </ul>

        <h4 class="govuk-heading-s">Contact centre booking an appointment <strong class="govuk-tag govuk-!-margin-left-1">Tested</strong><div class="govuk-hint">Oct 2022</div></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/first_pass/search?route=g4s" class="govuk-link--no-visited-state">Version 1</a>
          </li>
          <li>
            <a href="/version2/contactcentre/search" class="govuk-link--no-visited-state">Version 2</a>
          </li>
          <!-- <li>
            <a href="/uc_clone/agent-home">UC Clone</a>
          </li> -->
        </ul>
      </div>

      <div class="govuk-tabs__panel" id="notificationsnsjsa">
        <h4 class="govuk-heading-s">Citizen notifications <strong class="govuk-tag govuk-tag govuk-!-margin-left-1">Tested</strong><div class="govuk-hint">Feb 2023</div></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="version6/notifications/booked" class="govuk-link--no-visited-state">Appointment booked</a>
          </li>
          <li>
            <a href="version6/notifications/rebooked-first" class="govuk-link--no-visited-state">First appointment rebooked</a>
          </li>
          <li>
            <a href="version6/notifications/rebooked" class="govuk-link--no-visited-state">Appointment re-booked</a>
          </li>
          <li>
            <a href="version6/notifications/cancelled" class="govuk-link--no-visited-state">Appointment cancelled by DWP</a>
          </li>
          <li>
            <a href="version6/notifications/cancelled2" class="govuk-link--no-visited-state">Appointment cancelled by claimant</a>
          </li>
          <li>
            <a href="version6/notifications/notattended" class="govuk-link--no-visited-state">First appointment not attended</a>
          </li>
          <li>
            <a href="version6/notifications/notattended2" class="govuk-link--no-visited-state">Other appointment not attended</a>
          </li>
          <li>
            <a href="version6/notifications/reminder" class="govuk-link--no-visited-state">Appointment reminder</a>
          </li>
        </ul>

      </div>
    </div>

  </div>

  <div class="govuk-grid-column-one-third" >
    <h4 class="govuk-heading-s govuk-!-padding-top-1" style="border-top: 4px solid #1d70b8">Useful links</h4>
    <ul class="govuk-list">
      <li>
        <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1666364779858/9633be5c048c3ca220847a226708bc80600debe6?sender=u27e278891566c2ea43a98054" class="govuk-link--no-visited-state">User research</a>
      </li>
      <li>
        <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1666550060367/a36b25890036d8abec64f8b2e173eecde0732b29?sender=u27e278891566c2ea43a98054" class="govuk-link--no-visited-state">User journeys</a>
      </li>
    </ul>
  </div>


</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-l">Public Beta - NSESA</h3>
    <p>Additional features and improvements that will be in place for NSESA Public Beta</p>

    <!-- PUBLIC BETA NSESA -->

    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Appointments
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#publicbeta-esa">
            Public Beta
          </a>
        </li>
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#tested-esa">
            Tested designs
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#notifications-esa">
            Notifications
          </a>
        </li>
      </ul>
      <div class="govuk-tabs__panel" id="publicbeta-esa">
        <ul class="govuk-list">
          <li><span class="govuk-!-font-size-36" style="color: #00703c;">&#9745;</span> Appointee information</li>
        </ul>

        <a href="nsesa-publicbeta/workcoach/searchlight" role="button" draggable="false" class="govuk-button govuk-button--start govuk-button--secondary" data-module="govuk-button">
          Start NSESA Public Beta
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>

      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tested-esa">
        <h4 class="govuk-heading-s">Version 3 (work in progress) <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">New</strong></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/version3-esa/workcoach/searchlight" class="govuk-link--no-visited-state">Benefit tag</a></li>
          <li><a href="/version3-esa-2/workcoach/searchlight" class="govuk-link--no-visited-state">Appointee tag</a></li>
        </ul>

        <h4 class="govuk-heading-s">Version 2 <strong class="govuk-tag govuk-tag govuk-!-margin-left-1">Tested</strong></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/version2-esa/workcoach/searchlight" class="govuk-link--no-visited-state">Appointee bar</a></li>
          <li><a href="/version2-esa-2/workcoach/searchlight" class="govuk-link--no-visited-state">Appointee tag</a></li>
        </ul>

        <h4 class="govuk-heading-s">Version 1 <strong class="govuk-tag govuk-!-margin-left-1">Tested</strong></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/version1-esa/workcoach/searchlight" class="govuk-link--no-visited-state">Searchlight</a></li>
        </ul>
      </div>

      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="teamleads-esa">
        <h4 class="govuk-heading-s">Diary view<strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">new</strong></h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/version4/diarymanager/searchlight" class="govuk-link--no-visited-state">Version 1 </a>- diary in MWAC service
          </li>
        </ul>
      </div>

      <div class="govuk-tabs__panel" id="notifications-esa">
        TBC

      </div>
    </div>

  </div>

  <div class="govuk-grid-column-one-third" >
    <h4 class="govuk-heading-s govuk-!-padding-top-1" style="border-top: 4px solid #1d70b8">Useful links</h4>
    <ul class="govuk-list">
      <li>
        <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1704706326916/61c7b8f34b1c5627552652803a404f5c9ae137fd" class="govuk-link--no-visited-state">User research</a>
      </li>
      <li>
        <a href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1666550060367/a36b25890036d8abec64f8b2e173eecde0732b29?sender=u27e278891566c2ea43a98054" class="govuk-link--no-visited-state">User journeys</a>
      </li>
    </ul>
  </div>


</div>

{% endblock %}
