{% extends "layout-nsjsa-final.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
First - Search for a claimant
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Appointment attended
      </h1>
      <div class="govuk-panel__body">

      </div>
    </div>
    <p>We'll send a notification to <strong>07777 900 900</strong>.</p>

    <h3 class="govuk-heading-m">What happens next?</h3>
    <p>Remember to <a href="type" class="govuk-link--no-visited-state">book a follow on appointment</a> for the claimant.</p>

    <p>

  </div>
</div>

{% endblock %}
